[Unit]
Description=Matrix Display Service
# Description of the service
After=network.target
# Start after the network is online
# After=network-online.target  #Alternative, more strict network dependency

[Service]
Type=simple
# Type of service (simple, exec, forking, etc.)
ExecStart=/home/paul/Workspace/wordclock/matrix_start.sh
# Path to your script
Restart=on-failure
# Restart policy (no, on-failure, always, etc.)
User=paul
# User to run the script as (e.g., pi, root)
#Group=yourgroup      # Optional: Group to run the script as
WorkingDirectory=/home/paul/Workspace/wordclock  
# Optional: useful if script uses relative paths

[Install]
WantedBy=multi-user.target
# Enable at multi-user runl
